<!DOCTYPE html>
{%load static%}
<html>
<head>
  <title>Customer Login</title>
</head>
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<body>
  <h1>Customer Login</h1>
  <!-- {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
  {% endif %} -->
  <h3>{{message}}</h3>
  <form method="post">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username" id="username"><br><br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password"><br><br>
    <input type="submit" value="Login">
    <h4>
      <p>Not registered yet? <a href="/customer/signup/">Sign up here!</a></p>
      </h4>
  </form>
  
  
</body>
</html>