{% extends 'store/main.html' %}
{% load static %}
<meta charset="utf-8"> 
      
<meta name="viewport" content="width=device-width, initial-scale=1"> 
      
<link rel="stylesheet" href= 
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
        
<script src= 
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> 
</script> 
        
<script src= 
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> 
</script> 
        
<script src= 
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> 
</script> 
      
{% block content %}
<div class="row">
    {% for product in products %}
    <div class="col-lg-4">
        <img class="thumbnail" src="{{ product.imageURL }}">
        <div class="box-element product">
            <h6><strong>{{ product.name }}</strong></h6>
            <p style="color: #adb5bd;">{{ product.genre }}</p>
            
            <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
            <a class="btn btn-outline-success" href="/view/{{ product.name }}">View</a>
            
            {% if product.inlist %}
            <button type="button" class="btn btn-danger btn-circle btn-sm" data-product="{{ product.id }}" onclick="toggleInList(this)">-</button>
            <button type="button" class="btn btn-success btn-circle btn-sm d-none" data-product="{{ product.id }}" onclick="toggleInList(this)">+</button>
            {% else %}
            <button type="button" class="btn btn-danger btn-circle btn-sm d-none" data-product="{{ product.id }}" onclick="toggleInList(this)">-</button>
            <button type="button" class="btn btn-success btn-circle btn-sm" data-product="{{ product.id }}" onclick="toggleInList(this)">+</button>
            {% endif %}
            
            
            <h4 style="display: inline-block; float: right"><strong>₹{{ product.price|floatformat:2 }}</strong></h4>
        </div>
    </div>
    {% endfor %}
</div>

<script>
    function toggleInList(button) {
        const productId = button.getAttribute('data-product');
        const minusButton = button.parentNode.querySelector('.btn-danger');
        const plusButton = button.parentNode.querySelector('.btn-success');
        
        // Send an AJAX request to the server to toggle the inlist value
        fetch(`/toggle_inlist/${productId}/`)
          .then(response => response.json())
          .then(data => {
            if (data.inlist) {
              // If inlist is true, show the minus button and hide the plus button
              minusButton.classList.remove('d-none');
              plusButton.classList.add('d-none');
            } else {
              // If inlist is false, show the plus button and hide the minus button
              minusButton.classList.add('d-none');
              plusButton.classList.remove('d-none');
            }
          });
      }
</script>

{% endblock content %}
